@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono&family=Overpass:ital,wght@0,400;0,700;1,400&display=swap");

:root {
    --default-background: #343434;
    --container-background: #141414;
    --button-background: #249255;

    --title-colour: #64F295;
    --text-colour: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Overpass Mono";
}

body {
    background-color: var(--default-background);
}

header {
    margin: 0;
    padding: 1rem;
    top: 0;
    position: sticky;
    background-color: rgba(52, 52, 52, 0.8);
    border-bottom: 0.15rem solid var(--container-background);
	backdrop-filter: blur(1rem);
}

footer {
    margin: 0;
    padding: 1rem;
    text-align: center;
    background-color: var(--container-background);
}

footer > p {
    font-size: 0.9rem;
}

a {
    font-family: Overpass;
    color: var(--title-colour);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container {
    width: 40rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: var(--container-background);
    border-radius: 1rem;
}

/* 44rem is the width of the containers plus */
/* the margin                                */
@media only screen and (max-width: 44rem) {
    .container {
        margin: 1rem;
        width: auto;
    }
}

h1 {
    margin: 0.5rem;
    color: var(--title-colour);
    font-family: Overpass;
    font-weight: bold;
    font-size: 2rem;
}

p {
    margin: 0.5rem;
    color: var(--text-colour);
    font-family: Overpass;
    font-weight: normal;
    font-size: 1rem;
}

b {
    color: var(--title-colour);
    font-family: Overpass;
    font-weight: normal;
    font-size: 1rem;
}

s, i {
    color: var(--text-colour);
    font-family: Overpass;
    font-weight: normal;
    font-size: 1rem;
}

ul {
    margin: 0.5rem;
}

li {
    margin: 0.5rem;
    color: var(--text-colour);
    font-family: Overpass;
    font-weight: normal;
    font-size: 1rem;
}

#toplangschart {
    font-family: "Overpass Mono";
}

label {
    margin: 0.5rem;
    display: inline-block;
    color: var(--text-colour);
    font-family: Overpass;
    font-weight: normal;
    font-size: 1rem;
}

input {
    margin: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
    color: var(--text-colour);
    background-color: var(--default-background);
    border: none;
    border-radius: 1rem;
    font-family: Overpass;
    font-weight: normal;
    font-size: 1rem;
}

input[type="button"] {
    background-color: var(--button-background);
}

input[type="button"]:hover {
    background-color: var(--default-background);
}

input[type="button"]:active {
    background-color: var(--button-background);
}
