/* JetBrains Mono font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

$font-1: "JetBrains Mono";

$fontsize-medium: 1rem;
$fontsize-big: 1.5rem;
$fontsize-extra-big: 2rem;

$borderradius: 1rem;

$linewidth: 0.15rem;

$transitiontime: 0.25s;

$articlemaxwidth: 40rem;

:root {
    /* Colour variables */
    --colour-bg-1: rgb(25, 25, 25);
    --colour-bg-2: rgb(45, 45, 45);
    --colour-fg-1: rgb(215, 215, 215);
    --colour-fg-2: rgb(230, 230, 230);
    --colour-action: rgb(225, 100, 85);
    --colour-transparent: rgba(255, 255, 255, 0);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: var(--colour-bg-1);
}

header {
    margin: 0;
    padding: 1rem;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(var(--colour-bg-1), 0.8);
    border-bottom: 0.15rem solid var(--colour-bg-2);
	backdrop-filter: blur(1rem);
}

article {
    max-width: $articlemaxwidth;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--colour-bg-2);

    & > p {
        font-size: $fontsize-medium;
    }
}

h1 {
    margin: 0.5rem;
    padding: 0;
    font-family: $font-1;
    font-size: $fontsize-extra-big;
    font-weight: bold;
    color: var(--colour-fg-2);
    text-shadow: 0 0 1rem var(--colour-action);
}

h2 {
    margin: 1rem;
    padding: 0;
    font-family: $font-1;
    font-size: $fontsize-big;
    font-weight: normal;
    color: var(--colour-fg-1);
}

h3 {
    margin: 1rem;
    padding: 0;
    font-family: $font-1;
    font-size: $fontsize-big;
    font-weight: normal;
    text-align: center;
    color: var(--colour-fg-1);
}

p {
    margin: 0.5rem;
    font-family: $font-1;
    font-size: $fontsize-medium;
    font-weight: normal;
    color: var(--colour-fg-1);
}

a {
    color: var(--colour-fg-2);

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

ul {
    margin: 0.5rem;
    padding: 0;
}

li {
    margin: 0.5rem;
    padding: 0;
    font-family: $font-1;
    font-size: $fontsize-medium;
    font-weight: normal;
    color: var(--colour-fg-1);
}

form {
    display: inline-block;
}

input {
    margin: 0.5rem;
    padding: 0.5rem;
    border-style: solid;
    border-width: $linewidth;
    border-radius: calc($borderradius / 2);
    font-family: $font-1;
    font-size: $fontsize-medium;
    font-weight: normal;

    &[type="text"] {
        color: var(--colour-fg-1);
        background-color: var(--colour-transparent);
        border-color: var(--colour-fg-1);
    }

    &[type="button"] {
        color: var(--colour-action);
        background-color: var(--colour-transparent);
        border-color: var(--colour-action);
        transition: color $transitiontime, background-color $transitiontime;

        &:hover {
            color: var(--colour-bg-2);
            background-color: var(--colour-action);
            cursor: pointer;
        }
    }
}

#toplangschart {
    font-family: $font-1;
    text-align: left;
}

.section {
    border-bottom: $linewidth solid var(--colour-bg-2);
}

.card {
    margin: 2rem 1rem;
    padding: 1rem;
    background-color: var(--colour-bg-2);
    border-radius: $borderradius;
    box-shadow: 0 0.5rem 1.5rem var(--colour-bg-2);
}

.faq-question {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;

    & > * {
        flex: 1;
        width: 100%;
    }
}

@media only screen and (max-width: calc($articlemaxwidth + 2rem)) {
    .faq-question {
        flex-direction: column;
    }
}

